<!-- xml version="1.0"? -->
<launch>

<arg name="min_disparity" default="0"/>
<arg name="max_range" default="2.0"/>

<!-- Currently setup for gazebo calibration -->
<node pkg="pointcloud" type="pointcloud_node" name="pointcloud_node" output="screen">
    <param name="min_disparity" type="int" value="$(arg min_disparity)" />
    <param name="max_range" type="double" value="$(arg max_range)" />
</node>
</launch>